@import './scss/Variables.scss';

/**
*   font size
*/
.o-font-sm{
    font-size: .85rem;
}
.o-font-lg{
    font-size: 2rem;
}

/**
*   override
*/
button{
    outline: none !important;
}

.o-text-primary{
    color: $primary;
}

/**
*   background class
*/

.o-bg-primary{
    background: $primary;
}

.o-bg-blue-light{
    background: $blue-light;
}